[2018-03-03 02:49] braydo25 opened #5 "S3 is 403ing when launching the wallet. sprout-proving.key is not available."
<img width="960" alt="error" src="https://user-images.githubusercontent.com/5391234/36929765-716b00da-1e4a-11e8-9af8-59946be45ca7.png">

[2018-03-03 04:49] ch4ot1c commented on #5
Fixed on master. Thank you!

[2018-03-03 04:49] #5 closed

[2018-03-03 16:33] lukevenediger opened #6 "Mac wallet wont start, requires chmod +x btcpd and btcp-cli"
Hi,

After unpacking the mac release and trying to open the app it seems to error out immediately with "The application “BitcoinPrivateDesktopWallet” can’t be opened."

I'm running 10.12.6 with JRE 1.8.0_73

[2018-03-03 16:44] sifotes opened #7 "Error when starting GUI after downloading bootstrap."
Windows 10

Downloaded the zip for windows, extracted, ran the .jar , everything was fine and the blockchain started syncing. Quit the gui, downloaded the bootstrap zip, extracted the folders to the appdata folder, opened the ran the .jar again. Now getting an popup error:

![image](https://user-images.githubusercontent.com/26532668/36936832-34b01cfa-1ed8-11e8-913c-6bc5dff4e98b.png)

A reboot did

[2018-03-03 16:48] lukevenediger commented on #6
Here's what I did to get it working on Mac:

1. Download the mac release
2. Open Terminal and go to the /Applications/BitcoinPrivateDesktopWallet.app/ directory
`cd /Applications/BitcoinPrivateDesktopWallet.app/`
3. Make btcp-cli and btcpd executable:
`chmod +x btcpd; chmod +x btcpd`
4. Run the app:
`java -jar Java/BitcoinPrivateDesktopWallet.jar`

[2018-03-03 16:53] sifotes commented on #7
Running btcpd.exe manually and letting it sit for ~10 mins has partially fixed it. The GUI now shows "Daemo status: RUNNING" with 1 connection but the above error still comes up every ~30 seconds.

[2018-03-03 16:54] gl4d opened #8 "can't import private key"
Hey,
I'm getting this error when i'm trying to import my zclassic private key:

btcpd is running and i'm sure that the key is correct, any ways to fix this?
regards,

[2018-03-03 17:19] runningwithbeer opened #9 "EOF Reached (Code1) - Windows"
I downloaded the blockchain and put it in c:\users\ %username%\%appdata%\roaming\BTCPrivate but I just get this error every time...

Couldn't connect to server: EOF Reached (Code1)

[2018-03-03 17:42] jmuchaxo opened #10 "Failed to create the Debian package ... bitcoinprivate-desktop-gui-wallet_0.0.1_all.deb"
Hello, I get this error with ant compilation,
thank you

 ant -buildfile ./src/build/build.xml
...
Creating debian package: /home/joaquim/bitcoin-private-full-node-wallet/build/ubuntu-package/bitcoinprivate-desktop-gui-wallet_0.0.1_all.deb
      [deb] Building data
      [deb] file:./usr/lib/bitcoinprivate-gui-wallet/BitcoinPrivateDesktopWallet.jar size:578851 mode:493 linkname: username:root user

[2018-03-03 17:45] SpencerBoyd commented on #6
Thanks for helping Luke! I am still gettin an error when trying to make the apps executable, "chmod: btcpd: No such file or directory ; chmod: btcpd: No such file or directory"

Any ideas?

[2018-03-03 17:47] RightTwiceADay commented on #6
Same here. The app wont start on my mac and when typing chmod "+x btcpd; chmod +x btcpd" I get the same error ("chmod: btcpd: No such file or directory ; chmod: btcpd: No such file or directory").

[2018-03-03 17:49] lukevenediger commented on #6
Hey guys, sorry, I missed a step, give me a few mins to update the instructions

[2018-03-03 17:51] lukevenediger commented on #6
Please review step 2 and try again? You need to go to `/Applications/BitcoinPrivateDesktopWallet.app/Contents`

[2018-03-03 17:52] SpencerBoyd commented on #6
Awesome, thank you so much. That did the trick!

[2018-03-03 17:55] Fritzerton opened #11 "Wallet Won't Open - Mac"
After unzipping I get the message "The application BitcoinPrivateDesktopWallet Can't be Opened
<img width="455" alt="screen shot 2018-03-03 at 12 49 58 pm" src="https://user-images.githubusercontent.com/35083649/36937491-1e038cd0-1ee2-11e8-8102-46868abe85d8.png">

[2018-03-03 17:58] RightTwiceADay commented on #6
That's great thanks! But what's supposed to happen then? Should the app run? Sorry for being a total noob but I get this message: "Exception in thread "main" java.lang.UnsupportedClassVersionError: com/vaklinov/zcashui/ZCashUI : Unsupported major.minor version 52.0
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClassCond(ClassLoader.java:637)
	at java.lang.Cl

[2018-03-03 17:59] sciack76 commented on #11
same here

[2018-03-03 18:00] Fritzerton commented on #11
Running latest Mac OS and Java. I've used previous beta swing and electrum ZCL wallets but all files from those have been removed.

[2018-03-03 18:06] SpencerBoyd commented on #6
I got a permission denied error.

[main] [Sat Mar 03 09:53:58 PST 2018] [INFO] Splash: btcpd already running...
[main] [Sat Mar 03 09:54:07 PST 2018] [ERROR] Unexpected error:
java.io.IOException: Cannot run program "/Applications/BitcoinPrivateDesktopWallet.app/Contents/btcp-cli": error=13, Permission denied

[2018-03-03 18:08] RightTwiceADay commented on #11
Same here. OS 10.12.5

[2018-03-03 18:11] nqduy1984 commented on #6
1. cd /Applications/BitcoinPrivateDesktopWallet.app/Contents
2. chmod +x btcpd
3. chmod +x btcp-cli
4. java -jar Java/BitcoinPrivateDesktopWallet.jar

Make sure your Mac have installed java jdk

[2018-03-03 18:18] alex-lucid commented on #11
Extract all files from the .app and launch from the terminal:
sudo java -jar BitcoinPrivateDesktopWallet.jar

[2018-03-03 18:18] fokep commented on #9
Getting this as well. https://imgur.com/a/cJtPX

[2018-03-03 18:27] KimboKastekniv commented on #6
Done everything, the wallet opened, download the files and then I got that error:

Window wallet error message:
Unexpected Exception
An unexpected error (Exception) has occurred.
com.eclipsesource.json.ParseException: Expected value at 1:1
See the console/logfile output for more detailed error information!

Console error:
[main] [Sat Mar 03 20:10:15 EET 2018] [ERROR] Unexpected error:
java.io.IOEx

[2018-03-03 18:27] RightTwiceADay commented on #6
Thank you nqduy1984, that's what I did already but it didn't work for me unfortulately.

[2018-03-03 18:33] SpencerBoyd commented on #6
Cool, I was missing step 3. I got it working now I think, but claiming coins with this wallet seems risky at best?

[2018-03-03 18:34] pogoetic commented on #11
This solves the initial problem but others present themselves after the 900MB keyfile is downloaded:

[main] [Sat Mar 03 13:31:43 EST 2018] [INFO] Splash: btcpd already running...
[main] [Sat Mar 03 13:31:52 EST 2018] [ERROR] Unexpected error:
java.io.IOException: Cannot run program "/Users/evgenypogorelov/Desktop/BitcoinPrivateDesktopWallet/btcp-cli": error=13, Permission denied
	at java.lang.Pro

[2018-03-03 18:34] VERTlG0 opened #12 ""Copy Value" fails to copy receiving address via right click-> Copy Value. Ctrl + c doesnt work either."
No possible way to copy key.. which makes one have to type/write it out improving odds for human error and lose funds. Needs to be fixed ASAP.

[2018-03-03 18:35] alex-lucid commented on #11
sudo chmod u+x btcpd
sudo chmod u+x btcp-cli

[2018-03-03 18:37] RightTwiceADay commented on #11
i just checked the download page again and the previous file has been replaced. The new zip file works for me!

[2018-03-03 18:37] iamhydrogen commented on #6
I also get the permission denied error...

[2018-03-03 18:37] RightTwiceADay commented on #6
i just checked the download page again and the previous file has been replaced. The new zip file works for me!

[2018-03-03 18:40] pogoetic commented on #11
Thanks alex-lucid! Next error, seems like a missing configuration file which i'm not seeing in any of the subdirectories:
[code]

[2018-03-03 18:42] SpencerBoyd commented on #6
Good call, RTAD. New Zip is working great!

[2018-03-03 18:44] alex-lucid commented on #11
Basically, just do chmod for all executables in .app bundle and it will work

[2018-03-03 18:45] Fritzerton commented on #11
The new file file on the github is working

[2018-03-03 18:46] #11 closed

[2018-03-03 19:09] KimboKastekniv commented on #6
Still getting the same error with the new replaced zip file:

Unexpected Exception
An unexpected error (Exception) has occurred.
com.eclipsesource.json.ParseException: Expected value at 1:1
See the console/logfile output for more detailed error information!

[2018-03-03 20:01] iamhydrogen opened #14 "Sync issue"
"If you want to sync faster, you can download a significant portion of the blockchain here. Unzip and place folders in the same location as your wallet.dat file (see below)."

When I do this, using Mac, do I want to replace old files in the wallet.dat folder with the same name?  I selected replace old files and keep getting "Activating best chain"....waited 20 mins+ and still hung on Activating be

[2018-03-03 20:08] mosh5382 commented on #10
I am having the same issue on Arch Linux.

[2018-03-03 20:25] stevenjack opened #15 "Checksum for blockchain download"
Would like to verify the bulk download of the blockchain, are you able to update the current release with the checksum of the download link:

https://storage.googleapis.com/btcp-blockchain/BTCprivate.7z

[2018-03-03 20:53] vienie opened #16 "Version 1.0.1 shows old version in UI"
In the Bitcoin Private Desktop GUI Wallet's UI of version 1.0.1 it still shows up as version 1.0.0 in the top bar. Correct version is shown in about us dialog box.  This is on the Mac version

[2018-03-03 21:35] jsufree commented on #14
Restarting wallet and waiting resolved the problem for me.

[2018-03-03 21:40] ch4ot1c commented on #16
This is known ; the patched release was done with haste. Will be fixed in an official 1.0.2.

[2018-03-03 21:46] ch4ot1c commented on #15
Yes - I will add this to the BTCPrivate/BitcoinPrivate readme docs as well.

`curl https://s3.amazonaws.com/btcp.snapshot/utxo_snapshot.tar.gz | tar xvz`

[2018-03-03 21:49] ch4ot1c commented on #14
Thanks - I will update this copy to be simpler.

[2018-03-03 21:52] ch4ot1c commented on #9
I've gotten this too. @fokep Let us know how that goes.

[2018-03-03 21:53] ch4ot1c commented on #8
Make sure you have the latest release, and make sure btcpd is indeed running! Are you running from the .jar?

[2018-03-03 21:59] ch4ot1c commented on #6
Sorry about that - indeed `sudo chmod +x btcpd; sudo chmod +x btcp-cli`

[2018-03-03 21:59] #6 closed

[2018-03-03 22:01] pogoetic opened #17 "Wallet Sync stuck at 99.83%"
Wallet launched and begins blockchain sync but stalls at 99.83%. I have attempted restarting the app several times to no avail. Any advice?

![image](https://user-images.githubusercontent.com/1137067/36939747-6b5e0f24-1f04-11e8-82d2-07afe3d6ccf8.png)

Thanks!

[2018-03-03 22:51] cughin opened #18 "Messaging cant close"
when accessing the "My Messaging Identity" the dialogue box cannot be closed and while empty hitting save and close requires form to be filled

[2018-03-04 00:13] jmuchaxo commented on #10
yes the wallet jar file is there.
I should have payed attention, thanks

[2018-03-04 00:13] #10 closed

[2018-03-04 00:53] ch4ot1c commented on #18
We have it disabled right now, so we can spend most time on BTCP/funds related issues

[2018-03-04 01:14] fokep opened #19 "Move the wallet db from BDB to a database maintained under a permissive license"
I thought this had been fixed long time ago upstream in Zcash but apparently it is now becoming technical debt and I think this also should be listed as an issue for BTCP now that we have "active development".

Unknown to what I'm talking about? Do `file wallet.dat` and then `db_dump -l wallet.dat`

Then do `dnf info libdb` or whatever is equivalent in your distro and look at which version you hav

[2018-03-04 03:57] plchampigny commented on #17
I have the same issue I swept my wallet and it still stuck at 99.8%. I cannot transfer my coins because their are stuck in a "not confirmed" state since the blockchain won't update. I really don't know what to do...

[2018-03-04 04:01] ch4ot1c opened #20 "'0 connections' is just too scary"
The red 0 connections in the status is not a good user experience. It should definitely be clear that it has a high change of finding peers in the next 15s-1min.

[2018-03-04 04:08] ch4ot1c opened #21 "Remind users the benefits of running a full-node"
Add a UI element that tells users 'If you are fully syncd, you **are** Bitcoin Private.' - or more informational detail.

[2018-03-04 04:36] matd3n opened #22 "(MAC) BitcoinPrivateDesktopWallet 1.0.1 hit an error when downloading the Z cryptographic proving key"
Tried restarting the app but still hit the same error.

<img width="569" alt="screen shot 2018-03-04 at 11 24 31" src="https://user-images.githubusercontent.com/21962140/36942211-a977e348-1f9f-11e8-9bb4-4b3bec7fc15e.png">

[2018-03-04 04:42] matd3n commented on #22
I had the latest Java 8. Trying with JDK 9.0.4

[2018-03-04 04:46] daryljj opened #23 "BitcoinPrivateDesktopWallet_1.0.1_windows.7z opens as a comic book file on my windows??"

[2018-03-04 04:55] matd3n commented on #22
Ran with JDK 9.0.4 and got this new error:

[main] [Sun Mar 04 11:50:49 ICT 2018] [ERROR] Unexpected error:
java.io.IOException: com.eclipsesource.json.ParseException: Expected value at 1:1
	at com.vaklinov.zcashui.ZCashClientCaller.getDaemonRawRuntimeInfo(ZCashClientCaller.java:199)
	at com.vaklinov.zcashui.StartupProgressDialog.waitForStartup(StartupProgressDialog.java:131)
	at com.vaklinov.zcas

[2018-03-04 08:42] yuryvn opened #24 "can't build under debian 9"
I get following error, and no BTCP or BTCP cli are created also

/home/bmw/btcp/bitcoin-private-full-node-wallet/src/build/build.xml:105: Failed to create the Debian package /home/bmw/btcp/bitcoin-private-full-node-wallet/build/ubuntu-package/bitcoinprivate-desktop-gui-wallet_0.0.1_all.deb

[2018-03-04 09:44] agzamishe commented on #20
Same problem

[2018-03-04 10:23] PBacik86 opened #25 "Win wallet not syncing"
1.01 release - wallet opens, shows "Deamon Running" but unable to sync or find any connections.

"Network: 0 connections" - been like that since more than 5-10mins

Ideas?

[2018-03-04 11:41] ootisra opened #26 "Error bitcoin private full node wallet on Mac"
This is the message when trying to launch the Bitcoin Private Full node wallet:

an unexpected critical error has occurred: com.eclipsesource.json.ParseException: Expected value at 1:1 See console output for more detailed error information!

I have a Macbook pro Os 10.11.6 El Capitan

[2018-03-04 12:53] Pega88 commented on #26
can you upload (last part of) the logs? Should be in
~/Library/Application Support/BTCPrivate/
under 'debug.log'

[2018-03-04 12:55] Pega88 commented on #22
Hi @matd3n ,
Can you also include the daemon logs? As the daemon threw an error the wallet can't handle, it would be good to see the error on daemon.
Should be under
~/Library/Application Support/BTCPrivate/debug.log

[2018-03-04 13:54] klove007 opened #27 "address invalid, trying to send btcp to another address."
![image](https://user-images.githubusercontent.com/35437322/36946347-9997e0d8-1f89-11e8-8b33-1b0c0941476f.png)

[2018-03-04 14:00] ootisra commented on #26
I was able to go to the directory ~/Library/Application Support/BTCPrivate
and found only 1 file btcprivate.conf but could not find the debug.log

On Sun, Mar 4, 2018 at 7:53 PM, Niels Buekers <notifications@github.com>
wrote:

[2018-03-04 14:02] ootisra commented on #22
I found the folder but cannot find debug.log

On Sun, Mar 4, 2018 at 7:55 PM, Niels Buekers <notifications@github.com>
wrote:

[2018-03-04 14:14] ootisra commented on #22
I finally found the debug.log, hope you can help me

Thanks

On Sun, Mar 4, 2018 at 9:02 PM, Chulasawek Israbhakdi <
c.israbhakdi@gmail.com> wrote:

[2018-03-04 14:24] fokep commented on #23
This has nothing to do with BTCP. You have installed a program that associates 7z-files as _Comic book archives_. Please download [7-zip](http://www.7-zip.org/) to open/extract the archive.

[2018-03-04 14:34] ootisra commented on #23
I really dont understand what happen, i never have comic book archives or
windows. I have a problem with my Electrum  BTCP wallet on Mac, this was my
message:

I have a problem trying to launch the Btcp Electrum wallet for Mac, I get
this message: Electrum BTCP quit unexpectedly, and it stop there, my mac os
is 10.11.6 el Capitan.

On Sun, Mar 4, 2018 at 9:24 PM, FOKEP. <notifications@github.com>

[2018-03-04 14:41] ootisra commented on #27
sorry I dont understand what has happened. I didnt try to send anything just having problems with my Electrum Btcp wallet

[2018-03-04 14:43] plchampigny commented on #17
@pogoetic Hey I resolved my issue with with the app. Here's what I did:
-> Get to %AppData%/BTCPrivate
-> Create a folder bak
-> Ensure that Bitcoin Private Wallet app is stopped
-> Move the 'blocks' and 'chainstate' folder in the folder
-> Start the app

The progress will start back from 0 to 100% (and will be slow ...) but you'll get to 100%.

I've also been able to move my swept money from yest

[2018-03-04 14:51] fokep commented on #27
That's weird, are you running the testnet version? That used n1*-adresses

[2018-03-04 14:54] fokep commented on #27
@ootisra why are you commenting on this issue? Are you getting this error with bitcoin-private-full-node-wallet?

[2018-03-04 14:55] sifotes commented on #7
Running btcpd.exe -reindex as suggested in #9 solved this issue. Think the issue should stay open for now.

[2018-03-04 14:56] fokep commented on #23
@ootisra stop commenting on issues for bitcoin-private-full-node-wallet. For issues with Electrum go [here](https://github.com/BTCPrivate/electrum-btcp/issues)

[2018-03-04 15:01] ootisra commented on #27
No, not at allI just see this post now, never been on this post and i am not running Testnet either.

[2018-03-04 15:13] Pega88 commented on #26
is that file empty? what if you restart the wallet, does that directory get filled then?

[2018-03-04 15:14] Pega88 commented on #22
was the debug file in another folder? can you share the latest lines of debug.log file with u?

[2018-03-04 15:20] ootisra commented on #22
[BitcoinPrivateGUIWallet_2018_3_debug.log](https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/files/1778636/BitcoinPrivateGUIWallet_2018_3_debug.log)
this is my log file

[2018-03-04 15:24] ootisra commented on #24
I have no idea, where can I check that.

On Sun, Mar 4, 2018 at 10:22 PM, FOKEP. <notifications@github.com> wrote:

[2018-03-04 15:27] Pega88 commented on #27
this makes me strongly assume you're running an old version of the wallet, since that are testnet validations..
https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/blob/master/src/java/com/vaklinov/zcashui/SendCashPanel.java#L435
clearly checks on b1 etc:
`...does not appear to be a valid BTCP address. BTCP addresses start with b1, bx or zk!..`

can you confirm the downloaded zip for me

[2018-03-04 15:34] ootisra commented on #27
[btcprivate.txt](https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/files/1778644/btcprivate.txt)
I am sending you my btcprivate.conf but i had to rename it to btcprivate.txt , and i can confirm you that i didnt use the testnet

[2018-03-04 15:41] klove007 commented on #27
I installed v1.0.1 in another folder and it worked, I was using 1.0.0

[2018-03-04 15:44] #27 closed

[2018-03-04 15:47] Pega88 commented on #17
hi @plchampigny, I'm curious, did you still have connections when stalled at 99.8%, or 0 connections as well?
providing %AppData%/BTCPrivate/debug.log file would also help.
Thnx

[2018-03-04 15:50] matd3n commented on #22
My debug log was found here
~/Library/Application\ Support/BTCPrivateDesktopWallet/BitcoinPrivateGUIWallet_2018_3_debug.log

[BitcoinPrivateGUIWallet_2018_3_debug.log](https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/files/1778657/BitcoinPrivateGUIWallet_2018_3_debug.log)

Cheers

[2018-03-04 15:52] Pega88 opened #28 "sweep results in error when address has no balance"
Don't let people sweep a 0-balance imported PK, or provide better error msg.
![unknown-2](https://user-images.githubusercontent.com/1451524/36947463-60eccbac-1fcc-11e8-934d-91a84b935b65.png)

[2018-03-04 15:56] fokep commented on #27
Ah, that was the "Fixes an issue with address prefixes" from 1.0.0 to 1.0.1 then 👍

[2018-03-04 15:57] ootisra commented on #27
mine is still the same, 1.0.0 or 1.0.1

[2018-03-04 16:07] klove007 commented on #27
I had to install it in a totally different folder, I tried overwriting the 1.0.0 files and it still didn't work.

[2018-03-04 16:12] Skyryn opened #29 "Error sending to Zaddress"
Sending from T to Z address error when using full node wallet

Error---> MSG
The Destination address to send BTCP to:
zk.....blabla
does not appear to be a valid BTCP address start with n1,nx or zz
Error END

All address I create using this full node wallet starts with zk
I Generated Z address using the same full node wallet
This may be a problem with sweeping as well
Version 1.0.0 on Linux
We hav

[2018-03-04 16:13] ch4ot1c commented on #9
#7 #22

[2018-03-04 16:27] fokep commented on #29
Duplicate of #27 ?

[2018-03-04 16:29] klove007 commented on #29
possibly, unless they forgot to update to include the fix to the z addresses in 1.0.1

[2018-03-04 16:29] fokep commented on #27
Simply overwriting the files worked for me.

[2018-03-04 16:47] lipepalomares111 commented on #26
Same error after restoring BTCPrivate.7z data.

Debug.log
https://pastebin.com/yZg3Cqas
* there's no sensitive data here, right?

@Pega88

[2018-03-04 16:49] Skyryn commented on #29
I did not see the update! that did fix it
Thanksl

[2018-03-04 16:49] #29 closed

[2018-03-04 16:55] lipepalomares111 commented on #26
+1

[2018-03-04 17:26] bearcreekrganics commented on #8
Same problem here. My first private key is resulting n an error. My second zcl private key was accepted but then the seep resulted in an error

[2018-03-04 17:48] SpencerBoyd opened #30 "Trying to send from mac"
I'm getting the error "___ does not appear to be a valid BTCP address. BTCP addresses start with n1, nx, or zz!" I thought they started with b1?

[2018-03-04 18:06] Pega88 commented on #30
@SpencerBoyd please refer to #27, could it be the same? Are you confident you're running 1.0.1?

[2018-03-04 18:06] Pega88 commented on #20
fixed with https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/commit/217a2a3121f8b5f3a7dc44a138ebcea436166255

[2018-03-04 18:11] plchampigny commented on #17
@Pega88 Sorry for last answer (I deleted it), I was on my phone, I didn't read your question entirely.

So to answer you: Yes i did have connections (8) when I was stalled. I'll provide my debug.log, I'm just not sure if there is unsafe data in it?

[2018-03-04 18:11] Pega88 commented on #16
fixed with https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/commit/809234c579bf681000f9c6adb8cb13d08fad3359
should be more streamlined in future.

[2018-03-04 18:14] #20 closed

[2018-03-04 18:14] #16 closed

[2018-03-04 18:15] Pega88 commented on #17
only the last few lines of the log are important, if you open it, it should be clear what the error message is and if there is any private data in there (shouldnt)

[2018-03-04 18:16] Pega88 commented on #12
on which platform are you experiencing this?

[2018-03-04 18:18] Pega88 commented on #8
did this happen if you clicked 'OK' to sweep? It could be that the private key has no balance, or that the chain is not 100% synced up so no balance is yet visible. Then a sweep indeed fails, although the import should've worked. might be related to #28

[2018-03-04 18:19] SpencerBoyd commented on #30
@Pega88 Thanks, I missed the update to 1.0.1. Just updated and while the error changed to "... addresses start with b1, bx, or zk". The tx still wont send, even though the address does start with b1.

[2018-03-04 18:29] bearcreekrganics commented on #8
I'm thinking that I wasn't 100% synced up yet. But it's taking forever. I am currently downloading the blockchain to help it sync. faster. Instructions say to put the file in the same location as the btcp wallett. I'm not sure what this means, however. Stand by.

[2018-03-04 18:56] Pega88 commented on #25
did you import the blockchain data? the 3.5 Gig download from the release page, or started with 0% sync? there was an issue with that file and has now been replaced with a file that's currently 6Gb. That solved the issue for me. Could you confirm you downlaoded the 3.5Gig file, and can you try the new one?

[2018-03-04 18:59] Pega88 commented on #21
fixed with https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/commit/0a0692f3a2929f8de84c604d68cd92da4babb8ee

[2018-03-04 19:00] Pega88 commented on #7
there was an issue with the 3.5GB download file, did you use that? Could you download the new file (6GB) and try to reproduce? should/could be fixed by that.

[2018-03-04 19:17] Pega88 commented on #14
@jsufree there is a new blockchain available for download now. It's 6GB currently, whereas previous was 3.5GB. Could you retry your steps from scratch with the new download? That should resolve the issue without a restart.

[2018-03-04 19:23] SpencerBoyd commented on #27
I've tried overwriting and new folders and neither is allowing me to send.

[2018-03-04 19:31] atox42 opened #31 "Obtaining secret from z-Adress not work"
I get a error if i want to receive the secret-Key from a z-Adress :)

Best regards and thx for the GREAT WORK!!

Alex

![bildschirmfoto 2018-03-04 um 20 30 26](https://user-images.githubusercontent.com/37041341/36949605-eaae0630-1fea-11e8-95ee-9d58d7c1149e.png)

[2018-03-04 19:51] Pega88 commented on #30
@SpencerBoyd could you screenshot the sending screen, potentially obfuscating the last parts of the addresses & all amounts? Kinda like this:
<img width="714" alt="screen shot 2018-03-04 at 20 50 26" src="https://user-images.githubusercontent.com/1451524/36949825-c67abe36-1fed-11e8-9dc3-0e5f73133db3.png">

[2018-03-04 19:52] Pega88 commented on #28
fixed in https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/commit/c34d862ce0b63b8645a8e070b94c51291b1eb6c3 @ch4ot1c

[2018-03-04 19:54] Pega88 commented on #31
Hi @atox42 , which version of OS X are you running? And which version of the wallet? 1.0.0 or the updated 1.0.1?

[2018-03-04 19:56] atox42 commented on #31
Hi Niels it is the 1.0.1

OS X Version 10.13.3

THX :)

[2018-03-04 20:12] SpencerBoyd commented on #30
Here you go. It says 1.0.0 at the top but when I check the about section it verifies 1.0.1.

<img width="969" alt="screen shot 2018-03-04 at 12 06 20 pm" src="https://user-images.githubusercontent.com/7565676/36950046-5445bbf6-1fa5-11e8-81bb-1fc8cbda1677.png">

[2018-03-04 20:45] fokep commented on #30
I just have to ask. Have you tried restarting your computer?

[2018-03-04 20:57] SpencerBoyd commented on #30
I have, a few times just to be sure.

[2018-03-04 21:02] pogoetic commented on #17
I tried deleting those files @plchampigny and restart the blockchain sync but it still stalls again around 99.65%. Here are a few recent lines from my logs as this stalling is occurring now:
`2018-03-04 21:01:14 UpdateTip: new best=039ca995225f87124b809eca83625d7426f2127dec9db5160ce96a4ca415bb2f  height=274974  log2_work=49.376296  tx=20632089  date=2018-03-03 04:56:42 progress=0.999884  cache=11.

[2018-03-04 21:30] fokep commented on #30
Could you also try to [clear java cache](https://www.java.com/en/download/help/mac_java_cache.xml) and verify that you have the last [version](https://www.java.com/en/download/help/version_manual.xml)?

[2018-03-04 21:31] Killoren commented on #31
Trying to export a private key from a newly generated Z address. Running wallet version 1.0.1 on windows 10 pro 64 bit.

I am receiving the follow error
"Error in obtaining private key: Error response from wallet: error code: -3 error message: Address does not refer to a key."

This is occurring on 4 newly generated Z address in the Desktop GUI wallet 1.0.1. 1 created by the message tab, 2 created

[2018-03-04 21:31] Pega88 commented on #30
@SpencerBoyd would you be willing to share the 'to' address with me, so i can try send some myself/ detect any issue? is it with just this single address, or multiple? you can DM me in the [BTCP discord](https://discord.gg/46U2p4m) (Pega88)

PS: correct, we forgot to update the UI version number with 1.0.1, still shows 1.0.0 for the 1.0.1

[2018-03-04 21:32] Pega88 commented on #31
investigating, will report shortly.

any useful logs in
%AppData%/Roaming/btcprivate/debug.log (windows)
~/Library/Application\ Support/BTCPrivate/debug.log (mac)

?

[2018-03-04 21:43] Killoren commented on #31
I checked the %AppData%/Roaming/btcprivate/debug.log (windows) and did not see anything related. At least that I can discern.

I am running Java build 1.8.0_161-b12

I did see the following right after attempting to export a private key from a Z address in the %AppData%/Local/BTCPrivateDesktopWallet/BitcoinPrivateGUIWallet_2018_3_debug.log

[AWT-EventQueue-0] [Sun Mar 04 15:37:41 CST 2018] [ERROR]

[2018-03-04 21:45] Pega88 commented on #31
fixed it https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/commit/c2e57f0010dbb82fb831c316e95f3c06c8f05da8, was still checking prefix on testnet syntax (zz) rather than mainnet (zk).
will be released with 1.0.2.
@ch4ot1c

[2018-03-04 21:49] bearcreekrganics commented on #8
Just as a time stamp. I'm finally on 99.6% sync. Still not working. Private keys will not import or sweep properly. Not sure why it is stuck on 99%. This is very frustrating.

[2018-03-04 21:57] Pega88 opened #32 "better error message for sending coinbase txns"
balances from fork need to be sent in full to a Z address before being able to be spent normally.
provide more user-friendly error message when attempted.
<img width="976" alt="screen shot 2018-03-04 at 22 55 48" src="https://user-images.githubusercontent.com/1451524/36951066-47329c7c-1fff-11e8-96a5-e6b52f9becd8.png">

[2018-03-05 00:15] #21 closed

[2018-03-05 00:18] #28 closed

[2018-03-05 00:20] ch4ot1c commented on #26
Please update your client; this is from the old zcash params url being removed.

[2018-03-05 00:38] lucianocn commented on #26
Same error here with latest version. I downloaded 1.0.1 from releases but says 1.0.0 on header.
<img width="879" alt="screen shot 2018-03-04 at 21 28 03" src="https://user-images.githubusercontent.com/3828136/36952825-72f5f324-1ff3-11e8-9a95-8c27be7f975b.png">

Log:
https://pastebin.com/abF45c8D

@ch4ot1c @Pega88

[2018-03-05 00:52] SpencerBoyd commented on #30
I tried to send to a few different addresses and the issue seems to be with desktop wallet itself. I went ahead and saved the the wallet.dat, cleared java cache, deleted all BTCP files and reinstalled. I am currently downloading the blockchain again.

I transferred out of mac electrum to windows electrum and installed fresh, just incase there was an issue with those addresses. Once the blockchain

[2018-03-05 01:13] Santhosh114 commented on #26
Same here and I had to upgrade since the destinations addresses starting with b1 was not identified by version 1.0.0., Everything summed up in the screenshot:
<img width="1036" alt="screen shot 2018-03-04 at 5 11 47 pm" src="https://user-images.githubusercontent.com/14152628/36953411-503b6766-1fcf-11e8-80b0-f785a31a46bc.png">

[2018-03-05 06:00] sifotes commented on #7
I was using that originally. Wiped appdata clean, used the new bootstrap file and everything worked as expected. Can confirm the new file works without issue.

[2018-03-05 06:00] #7 closed

[2018-03-05 12:05] altagir commented on #24
same on ubuntu 17.10

[2018-03-05 12:20] fokep commented on #24
@altagir but the _BitcoinPrivateDesktopWallet.jar_ is built successfully yeah? And building the [BitcoinPrivate core](https://github.com/BTCPrivate/BitcoinPrivate) (btcpd and btcp-cli) works OK, so you get it working?

[2018-03-05 12:35] bergr01 opened #34 "Exceptions while downloading proving key on Mac OS"
<img width="981" alt="screen shot 2018-03-05 at 11 13 36 pm" src="https://user-images.githubusercontent.com/4503791/36975304-cea38cce-20cd-11e8-8fd5-333b304ee8f8.png">
<img width="996" alt="screen shot 2018-03-05 at 11 25 13 pm" src="https://user-images.githubusercontent.com/4503791/36975340-e379c9a6-20cd-11e8-9262-afa4951c4eb0.png">

see exception stack traces attached.

[2018-03-05 13:53] fokep commented on #34
Could you attach the debug log? Should be here:

`~/Library/Application Support/BTCPrivateDesktopWallet/BitcoinPrivateGUIWallet_2018_5_debug.log`

May be a duplicate of #9 / #22

[2018-03-05 16:41] BleezInTheTrap opened #35 "Donation Addresses Missing"
in the "About" write-up, both developers mentioned have no donation addresses listed. Add those in there, so that we can send you coins!
Thank you for putting this together

[2018-03-05 17:54] fokep commented on #35
Coming in 1.0.2 :-)

`zkN1kCVEy7yNA8BrY8yZNYyLJKcMFs1nDALoXD9eTD3uSGn4jixv1pyYYoroEaKUyyhnkfC8gAm4wLMH2kx3WXgKduLo7eD`

ref. [Latest commit d8684e5](https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/commit/d8684e5b6871a75cfc74021633345ea868363501#diff-6a102f61edd6c6f55d6f0ccb94832bf2)

[2018-03-05 18:12] altagir commented on #24
@fokep, yes the jar were produced but I had no cli / daemon....
It is really not obvious, but I was too fast, that btcpd and btcp-cli were not included in the package
when you follow the link from website, I was expecting actually to have them included in the repository...

it is, after all, called bitcoin-private-**full-node-wallet**, not UIonly-for-full-node-wallet, which has to be downloaded so

[2018-03-05 18:24] pogoetic commented on #17
Thanks @plchampigny  it does complete after a VERY LONG time.

[2018-03-05 18:24] #17 closed

[2018-03-05 18:27] plchampigny commented on #17
Well I think this will still be an issue for most people and this must be fixed. @Pega88 can you reopen this?

[2018-03-05 18:27] pogoetic commented on #8
I was also stuck on 99.6% for some time - I let it run overnight and it did end up syncing - however I am also having the sweep issue - PK import works but sweep fails (I am 100% synced and btcpd is running). Here is the full error msg:

![btcp pk sweep error](https://user-images.githubusercontent.com/1137067/36992443-ee4faf44-2078-11e8-9aef-f67e586e5656.png)

[2018-03-05 18:50] fokep commented on #24
Well, while I agree it's not obvious it actually says so in the first sentence under [Building, Installing, and Running the Wallet](https://github.com/BTCPrivate/bitcoin-private-full-node-wallet#building-installing-and-running-the-wallet).

Anyway, thanks very much for your feedback. I guess it could be moved in as step 1 in the list for clarity.

[2018-03-05 19:05] pogoetic commented on #8
This was mentioned in another thread but I think the error occurs when the address associated with the imported private key has a zero balance. When I exported my private keys from the Electrum wallet the list was 30 deep. I am importing and sweeping one by one and finding that the sweeps are working bit by bit, some fail, but overall my BTCP balance is inching up towards the value I would expect

[2018-03-05 21:08] bergr01 commented on #34
Here is the entire content of the log file:

[main] [Mon Mar 05 23:09:53 AEDT 2018] [INFO] btcprivate.conf (/Users/myusername/Library/Application Support/BTCPrivate/btcprivate.conf) does not exist. It will be created with default settings.
[main] [Mon Mar 05 23:09:53 AEDT 2018] [INFO] Bitcoin Private Full-Node Desktop Wallet (GUI, made in Java & Swing)
[main] [Mon Mar 05 23:09:53 AEDT 2018] [INFO]

[2018-03-05 22:16] BleezInTheTrap commented on #35
sounds excellent, thanks!

[2018-03-05 22:16] #35 closed

[2018-03-05 22:41] fokep commented on #34
Try to run `btcpd -noindex` before starting the wallet

[2018-03-05 23:25] sand-101 opened #37 "Update from v1.0.0 to v1.0.1 on w10"
Hello
Could you please tell me how to update the fullnode wallet version on windows 10 please?
I downloaded the v1.0.1 but when i launch the .jar file it keeps showing the v1.0.0 one fully synced.
Any tips?

[2018-03-05 23:41] bergr01 commented on #34
If by running btcpd you mean stepping into '/Users/myusername/Downloads/BitcoinPrivateDesktopWallet.app/Contents' and running ./btcpd
then that's what I got:

./btcpd -noindex

dyld: Symbol not found: _clock_gettime
  Referenced from: /Users/myusername/Downloads/BitcoinPrivateDesktopWallet.app/Contents/./btcpd
  Expected in: /usr/lib/libSystem.B.dylib
 in /Users/myusername/Downloads/BitcoinPrivate

[2018-03-06 00:49] bergr01 commented on #34
Googling for that error message yields results such as https://github.com/pocoproject/poco/issues/1453

[2018-03-06 01:05] fokep commented on #37
The version number was unfortunately not updated (was released in a bit of a rush).

[2018-03-06 01:32] fokep commented on #34
Ah! Updating to Mac OS > 10.12 should fix it then?On Mar 6, 2018 01:50, bergr01 <notifications@github.com> wrote:Googling for that error message yields results such as pocoproject/poco#1453

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-06 02:56] bergr01 commented on #34
You want me to update to a newer version of my OS to make your wallet work? Is there any alternative, like you making wallet backward compatible with El Capitan or some other wallet I can use for the same purpose?

[2018-03-06 03:31] lucianocn opened #38 "[MAC] Error Importing Private Key"
**MacOS:** 10.12.06
**Java:** 9.0.4 (build 9.0.4+11) x96_64
**Bitcoin Private Desktop GUI Wallet:** 1.0.1 (RUNNING - 8 connections - sync 99.36%)

**After importing a Private Key and accepting Sweet Operation:**
<img width="1289" alt="screen shot 2018-03-06 at 00 22 06" src="https://user-images.githubusercontent.com/3828136/37012637-764a8454-20d4-11e8-8ab8-caeb40646a83.png">

**~/Library/Applicati

[2018-03-06 04:40] ch4ot1c opened #39 "Import Private Key needs a spinner"
Because it takes a long time!

[2018-03-06 11:59] bergr01 commented on #34
Ended up installing the Windows version of the https://github.com/BTCPrivate/electrum-btcp/releases wallet and things worked okay there.

[2018-03-06 17:41] VERTlG0 commented on #12
GNU/Linux x86_64

[2018-03-06 22:58] VERTlG0 opened #40 "Restoring blockchain from Archive with backed up wallet.dat error"
Following this https://support.btcprivate.org/561209-Why-wont-the-Full-Node-Desktop-Wallet-sync-past-98-99 that was posted from twitter I backed up my wallet.dat.. removed all files except wallet.dat, and btcprivate.conf as stated. downloaded the new blockchain archive.. moved over the two directories . copied over my wallet.dat backup to .btcprivate/ re-ran ./src/btcpd. Run wallet. and it shows.

[2018-03-07 00:08] grzegorzszczecin opened #41 "GUI wallet needs a segwit flag in "Import Private Key""
"Import Private Key" takes private keys in WIF format with no indication whether the intended address is segwit or not. Regular P2PKH addresses start with "b1" (0x1325) while P2SH-P2WPKH address start with "bx" (0x13af). Alternatively the wallet can scan the blockchain for both addresses.

[2018-03-07 09:38] agent-0007 opened #42 "no connection, while using bitcoin-private-full-node-wallet"
I have a problem - zero connection (no nodes), I have already visited
https://www.masternode.link/
and generate btcprivate.conf file:

addnode=btcp.masternode.link
addnode=dnsseed.btcprivate.org
addnode=masternode.link

But still have 0 connection in status.

[2018-03-07 10:50] adiadore commented on #42
had this issue after importing the blockchain dump, deleting everything and downloading the blockchain via the node worked for me

[2018-03-07 10:54] agent-0007 commented on #42
ok, thx for you answer. Now i try download blockchain dump, but speed is very low(

[2018-03-07 11:44] fokep commented on #34
I don't understand why you wouldn't upgrade independent of that but it is of course your choice to run whatever you wish. A lot of people are still hanging on to Windows 7 as well.

Making the full node wallet backwards compatible with older OS's will not be a priority but it may very well be possible that it can be done sometime in the future. It's tricky and it requires a lot of work to make sof

[2018-03-07 11:50] fokep commented on #40
Is the blockchain completely synced?

[2018-03-07 13:11] gozwei opened #43 "ubuntu build fail over file names"
Build fails over `Caused by: java.io.FileNotFoundException: Data source not found : /home/xxxx/bitcoin-private-full-node-wallet/src/resources/ubuntu-package/btcp-icon.png`

Solution:
[code]

[2018-03-07 15:52] adriantdr opened #44 "windows stuck at 99.15%"
Hi guys,

The wallet gets stuck at 99.15% on March 3, weird.

I synced the files from 0.

Debug says:
2018-03-07 15:50:54 AcceptBlock(): FORK Block - Cannot open UTXO file - C:/Users/AppData/Roaming/BTCPrivate/utxo_snapshot/utxo-04415.bin
2018-03-07 15:50:54 AcceptBlock(): FORK Block - Cannot open UTXO file - C:/Users/AppData/Roaming/BTCPrivate/utxo_snapshot/utxo-04443.bin
2018-03-07 15:50:54 Acce

[2018-03-07 16:08] adriantdr commented on #44
fixed it by deleting the folder from appdata, downloading the 6 GB file and restarting.

[2018-03-07 16:08] #44 closed

[2018-03-07 18:41] VERTlG0 commented on #40
running the node causes and error when verify wallet.. running wallet without node letting it start the btcpd on its own also causes error:

[2018-03-07 18:46] VERTlG0 commented on #40
When running the standalone node after adding the blockchain archive dirs blocks and chainstate, to the .btcprivate dir with btcprivate.conf and wallet.dat backup, this is the output:

[2018-03-07 19:09] fokep commented on #40
Per the [Troubleshooting guide](https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/blob/master/docs/TroubleshootingGuide.md) the error below can indicate blockchain corruption and can be possibly be fixed by running `btcpd -noindex`. Could you try that and see if you can get the btcpd running first?

`java.io.IOException: error: couldn't connect to server: unknown (code -1)
(make sure

[2018-03-07 20:21] VERTlG0 commented on #40
running btcpd -noindex returns

[2018-03-07 20:38] fokep commented on #40
Oops, typo. Should be `btcpd -reindex`, not `noindex` :-)

[2018-03-07 20:40] fokep commented on #40
Oops, typo. Should be `btcpd -reindex`! Not `btcpd -noindex`. Sorry :-)

[2018-03-07 20:54] darthcrypto87 opened #46 "error on spending from imported z-addresses: "Witness for note commitment is null""
This is a known issue from ZCash: https://github.com/zcash/zcash/issues/2524
It happens when you import the private key of a shielded address and then try to spend the coins in this address.

Maybe you can get around this problem by making it possible to sweep private keys of shielded addresses in the Electrum wallet, but I'm not very optimistic about that technically.
Just wanted to report it.

W

[2018-03-07 21:01] VERTlG0 commented on #40
It's ok. -reindex returned the mutex error.

[2018-03-07 21:09] VERTlG0 commented on #40
Possibly a clue in db.log

[2018-03-07 21:12] VERTlG0 commented on #40
The debug.log is saying salvage found no records in my wallet.dat file.. Something is right because I know thats the correct wallet.dat file that I backed up from checking my bash history. Theres records on it so salvage isnt working properly or the file got corrupted somehow.. if thats the case. Im going to run a scrub on my drive which will find it if its been corrupted and restore it.

[2018-03-07 22:01] VERTlG0 commented on #40
BTW I already classify this account as gone... luckily I didnt have much in it compared to others who are mining.. I just want to confirm its good as gone or that is recoverable.. and fix it so it doesnt occur again. All I did was made a copy of wallet.dat..  which wasnt good enough.. Perhaps I shouldve made two copies.. but then again it depends on what the issue is.. perhaps no backup of wallet.

[2018-03-08 15:27] VERTlG0 opened #47 "Build on non-ubuntu Linux cant finish build."
Gentoo Linux
amd64
4.15.4

Building on a non-ubuntu linux distro will fail with trying to create .deb packages.

 
1. copyResources:

2.      [copy] Copying 23 files to /root/cryptomining/wallets/btcp/bitcoin-private-full-node-wallet/build/classes

3.
4.      jar:

5.          [mkdir] Created dir: /root/cryptomining/wallets/btcp/bitcoin-private-full-node-wallet/build/jars

6.                [jar]

[2018-03-10 16:33] lucianocn commented on #5
Same here - MaxOS Sierra 10.12.6
<img width="628" alt="123" src="https://user-images.githubusercontent.com/3828136/37244416-8afbf3b0-2467-11e8-8d44-8dc4010ab518.png">

[2018-03-10 18:14] SpencerBoyd commented on #5
I had this error as well. You need to completely rebuild BTCP as described here (https://github.com/BTCPrivate/BitcoinPrivate) before you install the new wallet.

[2018-03-11 17:11] greenman57 commented on #7
I'm also having this issue.
![capture](https://user-images.githubusercontent.com/35261504/37256197-bb76e3a8-252d-11e8-8004-dc218e4065c8.JPG)

[2018-03-11 19:27] darthcrypto87 commented on #8
I was able to solve this problem, but I don't really know why it did work. I used the most recent version of the full-node wallet for this try.
Here's in detail what I did:

- renamed my wallet.dat to get a fresh one
- Blockchain was like 98% synced
- imported the private key of the shielded address again
- got the message that the coins were swept to another shielded address. This didn't happen t

[2018-03-12 01:12] irishismyname commented on #7
Confirmed that btcpd is not running when this message is generated. Also noticed btcp-cli.exe starting and stopping over and over. Still haven't found any logs for btcpd, but I'm running it via powershell now so I can at least catch the termination message.

[2018-03-12 14:58] fokep commented on #7
See the [BitcoinPrivate Desktop GUI Wallet troubleshooting guide](https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/blob/master/docs/TroubleshootingGuide.md) for this specific error.

Edit: BTW there is not (by default) a "separate"/complete debug running for btcpd but it can be enabled by running (it will still print everything to debug.log in the Roaming folder)

`btcpd -debug=1`

S

[2018-03-12 16:21] BleezInTheTrap commented on #11
I upgraded to release 1.0.2

All addresses and keys remained intact, and the error has resolved.

[2018-03-12 16:50] ch4ot1c commented on #10
This is because you need to upgrade your version to the latest release. Only send directly to addresses you intend to, please~!

[2018-03-12 16:54] SpencerBoyd commented on #10
This error is occurring with the latest release. I am sending to addresses I intend to, the wallet is not acting as intended. I shouldn’t have to collage addresses together in order for the wallet to recognize it as valid. Clearly there is something wrong with the wallet determining valid destination addresses. I created this issue so that you guys could have more info to solve the problem, not so

[2018-03-12 17:52] ch4ot1c commented on #7
The RPC timeouts have been adjusted, in the posted release.

[2018-03-13 15:24] #42 closed

[2018-03-13 15:24] #26 closed

[2018-03-13 23:02] #9 closed

[2018-03-13 23:02] #22 closed

[2018-03-14 00:02] ch4ot1c commented on #6
Try doing a simple send to a new address. Does that work?

[2018-03-14 01:55] irishismyname commented on #7
After running btcpd from powershell, saw that the termination message was "out of disk space" :B whoops! Could it be possible to pass that error over to the GUI?

[2018-03-15 16:25] lukevenediger commented on #5
Having the same problem. There must be an easier way than rebuilding BTCP.

[2018-03-15 16:28] lukevenediger commented on #10
@ch4ot1c with respect, @SpencerBoyd has followed this elaborate workaround **because** the latest release is not working. I'm in the same position and would prefer to have a functioning release than do this. Please see issue #5

[2018-03-16 12:01] lukevenediger commented on #5
Can we get some attention on this issue please?

[2018-03-16 13:55] ch4ot1c commented on #7
Thank you for the followup - can you post that exact error message? The EOF one can be enough to err in the GUI, but the Disk Space one would be nice.

[2018-03-21 22:58] MrGold86 commented on #5
I followed the build instructions from https://github.com/BTCPrivate/BitcoinPrivate with this result (using macOS High Sierra Version 10.13.3):

xcode - select --install, and then /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
which ended with HEAD is now at 3cd5ae860 Merge pull request #3821 from rednoah/master

But when I run brew install cmake

[2018-03-30 00:40] ch4ot1c commented on #40
Sorry to hear this. I had a support request where we were able to recover funds from a wallet.bak; the daemon code uses file locks, so it didn't send without it saving the address into the wallet file. The instructions do say that you need to back up wallet.dat each time you make a new Z address, since they dont come from a deterministic key-chain.

[2018-03-30 00:40] #40 closed

[2018-03-30 00:40] #30 closed

[2018-03-30 01:01] #8 closed

[2018-03-30 01:02] ch4ot1c commented on #19
We have plans to move toward the BTC codebase in general; this will come along the way. Thank you for pointing it out.

[2018-03-30 01:02] #19 closed

[2018-04-18 18:24] ch4ot1c commented on #23
👍

[2018-04-19 14:12] donshin commented on #27
@kornface13 Can you confirm the version number of the build you are using?

[2018-04-19 19:23] spuky commented on #27
had same Issue here... trying to sending to my ledger nano s was happening with 1.0.3 and 1.0.4 on OSX was trying multible addresses from the electrum wallet ( P!1.1.0 osx ) all failed... then i tried copy one address into textedit and from there to the Desktop wallet it worked...
Confirmed that with a second address...

so maybe there is getting more none printable stuff into the clipboard when u

[2018-04-21 16:37] BlueSilver22 commented on #24
@noobcrypto what is percentage synced are you on the wallet?

[2018-04-21 16:57] noobcrypto commented on #24
Thanks for getting back I'm at 100% sync

On Sat, Apr 21, 2018, 12:37 PM CryptoJake22 <notifications@github.com>
wrote:

[2018-04-21 17:08] noobcrypto commented on #24
I have my private keys

On Sat, Apr 21, 2018, 12:56 PM Norman Vest <boats2016@gmail.com> wrote:

[2018-04-22 00:54] donshin commented on #27
@spuky Thanks for the extensive debugging info- very helpful!

[2018-04-22 01:06] donshin commented on #24
@noobcrypto I recommend seeking more hands-on help in the #help channel for the official Bitcoin Private Discord server.

[2018-04-22 18:35] Pega88 commented on #30
not too comfortable with BOM/encoding, but would using [this String constructor](https://docs.oracle.com/javase/7/docs/api/java/lang/String.html#String(byte[],%20java.nio.charset.Charset)) also help resolve it? When used with UTF-16,[ it can handle an optional BOM](https://docs.oracle.com/javase/7/docs/api/java/nio/charset/Charset.html).

[2018-04-22 22:44] donshin commented on #30
I'm not sure if the String constructor would be more elegant than the currently implemented solution, which is fairly simple already. The issue is that while BOMs are useful in the context of UTF16, they are optional for UTF8- some would consider even unideal for compatibility as some environments (like Java) do not expect the presence of a BOM for UTF8. Another option considered was https://commo

[2018-04-24 02:59] ch4ot1c commented on #30
LGTM; certainly not DRY but solves the problem. Thanks

[2018-04-24 04:53] donshin commented on #30
@ch4ot1c first implementation was done in a rush to have the option to get a fix out ASAP. Refactored to be more DRY- please take another look. Thanks!

[2018-04-24 13:23] ch4ot1c commented on #30
Nice fixup 👍

[2018-04-25 00:51] SpencerBoyd commented on #27
This has been an issue since the original release. They just close the threads.

[2018-04-25 00:54] donshin commented on #27
@SpencerBoyd Not sure if you saw the pull request referenced above- but that fix for this issue is scheduled to make it into the next Full Node Wallet release.

[2018-04-25 21:09] dm8885555 commented on #31
try this: https://github.com/ymgve/bitcoin_fork_claimer  Added support for BTCP segwit claiming 12 days ago

[2018-04-26 08:20] Horeas commented on #31
Beats me how to use that . isnt there a guide?

[2018-04-26 09:38] Ayms commented on #31
You can use https://github.com/Ayms/bitcoin-transactions also

[2018-04-26 09:57] Horeas commented on #31
I put in there the private keys and they are then ready to be accepted in gui wallet?

[2018-04-26 09:59] Horeas commented on #31
I had zcl before the fork and i could claim them in btcp electrum after i made a multisign wallet. Problem is that the old zcl wallet was a 2fa and now i dont have the posibility to cosign the btcp sending.

[2018-04-26 11:56] Horeas commented on #31
Dont you have a video step by step. It seems very complicated!

[2018-04-26 13:54] Ayms commented on #31
No, it's not so complicate, you can email me (see my github email)

[2018-05-09 09:56] tommyranger commented on #31
Hello,
So I know what my Passphrase is for my BTC wallet, this I believe is the same as a Private Key. However when I attempt to import this same Passphrase into the BTCP wallet under the category 'Import One Private Key' I get a similar error message - please note the message is SIMILAR but not EXACT. See below:

![image](https://user-images.githubusercontent.com/36209208/39808609-4c7d86c8-5377-1

[2018-05-10 18:12] Pega88 commented on #24
I follow @donshin's comment, please use the help channels. You can reopen if you find a way to reproduce this, as now it doesn't really seem related to the wallet.

[2018-05-10 18:14] Pega88 commented on #20
would a snippet like

`    public boolean isAddressValid(String address) {
        if (address.startsWith("b") || address.startsWith("zk")) {
            try {
                Base58.decodeToBigInteger(address);
                Base58.decodeChecked(address);
            } catch (AddressFormatException e) {
                e.printStackTrace();
                return false;
            }

[2018-05-10 18:15] Pega88 commented on #6
@SpartanCoderr could you please provide us with an update?

[2018-05-10 18:21] donshin commented on #14
@atox42 Do you recall doing anything around the time when the "watch only" addresses started appearing- Integrating your node with a payment system, a DEx, or any other unique action? In any case, my understanding is that "watch only" addresses cannot be removed from a node (a problem I believe present in Bitcoin Core as well); the only way to get rid of them would be to export your private keys o

[2018-05-21 12:01] ch4ot1c commented on #20
Yes - here is where the Base58 import briefly happens (with bitcoinj)

https://github.com/BTCPrivate/bitcoin-private-full-node-wallet/blob/41fbfba19e47a90d53dfb7eda95959dc231b5a5c/src/main/java/org/btcprivate/wallets/fullnode/util/Util.java#L325

[2018-07-08 18:44] fokep commented on #35
For sure, that could be a nice feature! Maybe just make a background call to API on startup or on enable/change currency and display converted value in parenthesis behind balances with $CURRENCY like

**0.00 BTCP (0.00 $CURRENCY)**

Here's the CMC API link to fetch BTCP/USD:

`https://api.coinmarketcap.com/v2/ticker/2575/` where the response is in

`[data][quotes][USD][price]`

To fetch other curr

[2021-02-11 17:00] SoFreaky commented on #43
Is there anyone out there?